
@tailwind base;
@tailwind components;
@tailwind utilities;



#root{
  padding: 0;
   margin: 0;
   text-align: center;

}
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    background: rgb(0,31,63);
    background: linear-gradient(90deg, rgba(0,31,63,1) 50%, rgba(0,0,0,1) 100%);
  }

  .text-gradient{
    background: -webkit-linear-gradient(#FF00FF, #3399FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 
  